.login-form {
    max-width: 400px;
    margin: 150 auto;
    padding: 20px;
    background-color: #99aeccff;
    border: 1px solid #c8c1c1;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4759d2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #536a82;
  }
  